load_module /usr/lib/nginx/modules/ngx_stream_module.so;

worker_rlimit_nofile 40000;

events {
    worker_connections ${nginx_worker_connections};
    multi_accept on;
}

stream {
    upstream talos_control_plane_k8s_api {
        least_conn;
        %{ for host in talos_control_plane_nodes ~}
        server ${host}:6443;
        %{ endfor ~}
    }

    server {
        listen 6443;
        proxy_pass talos_control_plane_k8s_api;
    }
}
