machine:
  install:
    disk: ${jsonencode(install_disks)}
  network:
    hostname: ${hostname}
# https://www.talos.dev/v1.7/talos-guides/configuration/time-sync/#additional-configuration
  time:
    servers:
      - /dev/ptp0
  kubelet:
    extraMounts:
      - destination: /var/mnt/longhorn
        type: bind
        source: /var/mnt/longhorn
        options:
          - bind
          - rshared
          - rw
    extraConfig:
%{ if length(node_taints) > 0 ~}
      registerWithTaints:
%{ for node_taint in node_taints ~}
        - key: ${node_taint}
          effect: "NoSchedule"
          value: "true"
%{ endfor ~}
%{ endif ~}
